@keyframes buttonShowTransition {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

@keyframes buttonHideTransition {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.feature-listing {
  background-color: white;
  min-height: 90vh;
  border: 1px solid gray;
  background-image: url("../../StaticResources/PaperBg.png");
}

.feature-header {
  height: 35px;
}

.feature-header-icon {
  width: 35px;
  height: 35px;
}

.tile-card {
  height: 200px;
  border: 1px solid black;
}

.btn-show {
  display: none;
  animation-name: buttonShowTransition;
  animation-timing-function: ease-out;
  visibility: visible;
}

.btn-hide {
  visibility: hidden;
  animation-name: buttonHideTransition;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}
